* {
  box-sizing: border-box;
}

body {
  background-color: cornflowerblue;
  margin: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
.description {
font-size: 20px;
}

ul > li:nth-child(1) {
  animation-delay: 0.3s;
}
ul > li:nth-child(2) {
  animation-delay: 0.5s;
}
ul > li:nth-child(3) {
  animation-delay: 0.7s;
}
ul > li:nth-child(4) {
  animation-delay: 0.9s;
}
ul > li:nth-child(5) {
  animation-delay: 1.4s;
}